* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  color: #ffffff; }

h2 {
  color: #ffffff;
  font-size: 28px; }

h3 {
  color: #ffffff; }

strong {
  color: #ffffff;
  font-size: 18px; }

li {
  color: #ffffff; }

a {
  color: #ffffff; }

p {
  color: #ffffff;
  font-size: 16px; }

@media (max-width: 426px) {
  p {
    font-size: 15px; } }

.hero {
  display: grid;
  grid-template-columns: 7em 1fr;
  grid-template-rows: 1fr 6em; }

@media (max-width: 700px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6em 4em; }
    .hero main {
      grid-column: 1/2;
      grid-row: 1/2; } }

main {
  background: #191919;
  grid-column: 2/3;
  grid-row: 1/1;
  padding: 0 8% 0 8%; }

@media (max-width: 768px) {
  main {
    padding: auto; } }

@media (max-width: 700px) {
  main {
    padding: 0 4% 0 4%; } }

.separator {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0) 0%, #00c6c7 25%, #ffffff 50%, #00c6c7 75%, rgba(0, 0, 0, 0) 100%);
  padding: 1px; }

.separator-2 {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0) 0%, #00c6c7 25%, #ffffff 50%, #00c6c7 75%, rgba(0, 0, 0, 0) 100%);
  padding: 0.3px;
  width: 50%; }

body::-webkit-scrollbar {
  width: 12px;
  background-color: #191919; }

body::-webkit-scrollbar-thumb {
  background: #00c6c7; }

body::-webkit-scrollbar-thumb:hover {
  background: #00ffff; }

header {
  background-color: #191919;
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: solid 3px cyan; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em; }
  .nav li a div {
    padding: 0.3rem 0.4rem 0 0.4rem; }
    .nav li a div img {
      width: 2rem;
      height: 100%; }
    .nav li a div p {
      display: none;
      width: 12rem;
      text-align: start;
      padding-left: 5em; }
  .nav li:hover {
    transform: scale(1.1);
    border-radius: 50%;
    background: #e5097f; }
  .nav li:hover a div p {
    display: block;
    position: absolute;
    bottom: 14px; }

#logo {
  background: none; }

#mobile {
  display: none; }

@media (max-width: 700px) {
  header {
    grid-column: 1/2;
    grid-row: 3/4;
    border: none;
    z-index: 5;
    width: 100%;
    bottom: 0%;
    position: fixed; }
  .nav {
    margin: 0.6em 0 0.6em 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  #logo {
    display: none; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0;
  margin-top: 1.5em; }
  .header div form {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0; }
    .header div form img {
      z-index: 1;
      position: absolute; }
    .header div form input {
      padding-left: 0.5rem;
      width: 38vh;
      height: 1.87rem;
      border: hidden;
      background: #00C6C7;
      mix-blend-mode: luminosity;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2rem; }
    .header div form input::placeholder {
      padding-left: 0.5rem; }
    .header div form button {
      margin-right: 0.25rem;
      width: 5.5rem;
      height: 1.4rem;
      border: none;
      position: absolute;
      background: #00ffff;
      mix-blend-mode: normal;
      border-radius: 2rem;
      color: #5e5e5e; }
  .header div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 5em; }
    .header div ul li img {
      width: 30px;
      height: 30px; }
    .header div ul li a img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: #191919; }
    .header div ul .border-profile {
      padding: 3px 3px 0 3px;
      border-radius: 50%;
      background: linear-gradient(45grad, #E5097F 0%, #6B0023 25%, #00c6c7 80%, #00FFFF 90%); }

@media (max-width: 700px) {
  .header div form input {
    width: 30vh; }
  .header div form button {
    width: 4rem; }
  .header div ul {
    gap: 1em; }
    .header div ul li img {
      width: 1.5rem;
      height: 1.5rem; }
    .header div ul li a img {
      width: 2.2rem;
      height: 2.2rem; } }

footer {
  background-color: #00c6c7;
  grid-column: 1/3;
  grid-row: 2/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 0; }
  footer div p {
    text-align: center;
    margin-bottom: 10px; }
  footer .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1em; }

@media (max-width: 700px) {
  footer {
    grid-column: 1/2;
    grid-row: 2/3; } }

@media (max-width: 425px) {
  footer .contacts {
    gap: 0.5em; } }

.trend {
  margin: 3em 0 3em 0;
  position: relative; }
  .trend a .trend-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0; }
    .trend a .trend-front div {
      display: flex;
      justify-content: center;
      align-items: left;
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 1em;
      z-index: 1;
      max-width: 35rem; }
      .trend a .trend-front div img {
        max-width: 22vw; }
      .trend a .trend-front div .season {
        font-size: 26px; }
      .trend a .trend-front div .name {
        font-size: 40px; }
      .trend a .trend-front div p {
        font-size: 17px; }
  .trend a .trend-front:hover div img {
    transform: scale(1.03);
    filter: drop-shadow(0.5rem 2.5rem 2rem #191919); }
  .trend .trend-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0; }
    .trend .trend-back img {
      top: 2em;
      position: absolute;
      background-blend-mode: luminosity;
      mix-blend-mode: luminosity;
      border-radius: 30px;
      opacity: 0.6;
      width: 60vw; }
    .trend .trend-back .background-radial {
      top: -3em;
      position: absolute;
      width: 80vw;
      height: 37rem;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, 0.48) 0%, rgba(0, 255, 255, 0.48) 0.01%, rgba(0, 255, 255, 0) 100%); }

.list-anime-index h2 {
  margin: 1em; }

.list-anime-index div .emission {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em; }
  .list-anime-index div .emission li {
    margin-bottom: 1em; }
    .list-anime-index div .emission li a span img {
      width: 12rem;
      height: 18rem;
      border-radius: 1.2rem 1.2rem 0 0;
      object-fit: cover; }
    .list-anime-index div .emission li a span img:hover {
      transform: scale(1.02); }

.config .title-config h1 {
  margin: 0.5em 0 0.5em 0; }

.config .title-config ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2em;
  margin-left: 1em;
  margin-bottom: 1em; }

.config .title-config ul li:hover {
  color: #00ffff; }

.config .subtitle-config h2 {
  margin-top: 0.5em; }

.config .subtitle-config .contain-config {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2em;
  width: 55vw;
  margin: 1em 0 1em 0;
  padding: 0.75em 0 0.75em 0;
  border: solid 1px #e5097f;
  border-radius: 1rem;
  background: #393939; }
  .config .subtitle-config .contain-config .account {
    border-radius: 50%;
    border: solid 2px white;
    margin-left: 1em; }
  .config .subtitle-config .contain-config .banner {
    max-width: 11rem;
    margin-left: 1em;
    border-radius: 4px;
    border: solid 1px white; }
  .config .subtitle-config .contain-config form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5em; }
    .config .subtitle-config .contain-config form input {
      width: 10rem;
      height: 1.8rem;
      background: #e5097f;
      border: none;
      border-radius: 4px;
      color: white;
      box-shadow: 2px 2px 5px #191919; }
  .config .subtitle-config .contain-config .data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5em;
    width: 100%; }
    .config .subtitle-config .contain-config .data div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 5em; }
      .config .subtitle-config .contain-config .data div .text-box-1, .config .subtitle-config .contain-config .data div .text-box-2 {
        width: 40vw;
        background: #696969;
        box-shadow: inset 2px 2px 5px #191919; }
      .config .subtitle-config .contain-config .data div .text-box-2 {
        margin-left: -4em; }

.multiselect h1 {
  margin: 1em 0 1em 0.5em; }

.multiselect ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 1em; }
  .multiselect ul li {
    display: flex; }
    .multiselect ul li img {
      width: 14px;
      height: 14px;
      margin-top: 3px; }
  .multiselect ul div {
    display: flex; }
    .multiselect ul div img {
      width: 18px;
      height: 18px; }

.list-anime ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
  margin: 2em 0 2em 0; }
  .list-anime ul li {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5em;
    -webkit-perspective: 800;
    perspective: 800; }
    .list-anime ul li div {
      width: 12rem;
      height: 18rem;
      position: relative;
      transform-style: preserve-3d; }
      .list-anime ul li div img, .list-anime ul li div div {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        left: 0;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
      .list-anime ul li div img {
        object-fit: cover;
        border: solid 4px white; }
      .list-anime ul li div div {
        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        background-color: white;
        overflow-x: hidden;
        text-align: center; }
        .list-anime ul li div div strong {
          color: black;
          margin: 2px; }
        .list-anime ul li div div p {
          color: black;
          font-size: 15px;
          margin: 2px; }
      .list-anime ul li div div::-webkit-scrollbar {
        width: 5px; }
      .list-anime ul li div div::-webkit-scrollbar-thumb {
        background: #00c6c7;
        border-radius: 5px; }
    .list-anime ul li div:hover {
      animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
    .list-anime ul li a {
      max-width: 12rem;
      height: 2em;
      text-align: center;
      font-weight: bolder; }

@keyframes flip-vertical-right {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(180deg); } }

.main-reproduction {
  width: 100%; }
  .main-reproduction .nav-guide {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
    margin: 2em 0 1.5em 2em; }
    .main-reproduction .nav-guide li a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 0.5em;
      height: 1rem; }
      .main-reproduction .nav-guide li a img {
        height: 100%;
        object-fit: contain; }
  .main-reproduction h1 {
    margin-bottom: 1.5em;
    font-size: 34px; }
  .main-reproduction .video-settings {
    text-align: center;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 255, 0.48) 0%, rgba(0, 255, 255, 0.48) 0.01%, rgba(0, 255, 255, 0) 100%); }
    .main-reproduction .video-settings .video {
      text-align: center; }
      .main-reproduction .video-settings .video iframe {
        width: 970px;
        height: 552px; }
    .main-reproduction .video-settings .video-bottom, .main-reproduction .video-settings .video-bottom div, .main-reproduction .video-settings .video-bottom div ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 1em;
      margin: 0.5em 0 0.5em 0; }
      .main-reproduction .video-settings .video-bottom div ul {
        border-radius: 25px;
        padding: 0.3rem 1rem 0.3rem 1rem;
        background-image: linear-gradient(to left, #e5097f, #ce026a, #b70056, #a00045, #890035, #890035, #890035, #890035, #a00045, #b70056, #ce026a, #e5097f); }
        .main-reproduction .video-settings .video-bottom div ul li a {
          font-weight: 650; }
          .main-reproduction .video-settings .video-bottom div ul li a img {
            height: 24px; }
  .main-reproduction .comments {
    width: inherit; }
    .main-reproduction .comments h2 {
      margin: 1em; }
    .main-reproduction .comments .my-comment {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 5em; }
      .main-reproduction .comments .my-comment div img {
        border-radius: 50%;
        border: solid 3px #e5097f; }
      .main-reproduction .comments .my-comment .textbox {
        height: 7rem;
        width: 45vw; }
        .main-reproduction .comments .my-comment .textbox div {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          padding: 6px;
          box-shadow: inset 1px 3px 10px #191919;
          background: #00ffff; }
        .main-reproduction .comments .my-comment .textbox div::placeholder {
          color: #191919; }
    .main-reproduction .comments .separator-2 {
      margin: 1.5em auto; }
    .main-reproduction .comments .filter {
      display: flex;
      justify-content: end;
      gap: 1em; }
      .main-reproduction .comments .filter p:hover {
        color: #00ffff; }
    .main-reproduction .comments .posted-comments {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 5em; }
      .main-reproduction .comments .posted-comments div {
        margin-bottom: 1em; }
        .main-reproduction .comments .posted-comments div img {
          border-radius: 50%;
          border: solid 3px #e5097f; }
        .main-reproduction .comments .posted-comments div div p {
          max-width: 45vw; }
        .main-reproduction .comments .posted-comments div .time-post {
          display: flex;
          align-items: center;
          gap: 0.5em;
          margin-bottom: 0.5em; }
          .main-reproduction .comments .posted-comments div .time-post img {
            width: 10px;
            height: 10px;
            border: none; }
          .main-reproduction .comments .posted-comments div .time-post p {
            font-size: 12px; }
        .main-reproduction .comments .posted-comments div a {
          font-size: 22px;
          font-weight: 600; }

#banner {
  background-image: linear-gradient(to top, #191919 0%, #191919 70%, #19191900 100%), url(../../assets/jujutsu-kaisen.jpg);
  background-size: contain; }

.main-episodes .description {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
  height: 35vh; }
  .main-episodes .description .description-top {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em; }
    .main-episodes .description .description-top div h1 {
      font-size: 52px; }
    .main-episodes .description .description-top div ul {
      display: flex;
      flex-direction: row;
      gap: 2em; }
      .main-episodes .description .description-top div ul li {
        padding: 4px 6px 4px 6px;
        border: solid 2px #191919;
        border-radius: 6px;
        background: #494949;
        mix-blend-mode: luminosity; }
        .main-episodes .description .description-top div ul li p {
          font-weight: 550; }
  .main-episodes .description .follow ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1.5em; }
    .main-episodes .description .follow ul li {
      text-align: center;
      margin-bottom: 1em; }
      .main-episodes .description .follow ul li img {
        height: 24px; }

.main-episodes .synopsis {
  margin: 1em 0 1em 0; }
  .main-episodes .synopsis h3 {
    margin-bottom: 0.5em;
    font-size: 28px; }

.main-episodes .list-episodes .title-season {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 2em 0; }
  .main-episodes .list-episodes .title-season div {
    display: flex;
    background: #e5097f;
    border: solid 1px white;
    border-radius: 8px;
    padding: 4px 6px 5px 6px; }
    .main-episodes .list-episodes .title-season div img {
      height: 18px; }

.main-episodes .list-episodes .episodes {
  margin-bottom: 2em; }
  .main-episodes .list-episodes .episodes ul {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2em; }
    .main-episodes .list-episodes .episodes ul li {
      max-width: 100%;
      max-height: 100%; }
      .main-episodes .list-episodes .episodes ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0; }
        .main-episodes .list-episodes .episodes ul li a .episodes-desc {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3em; }
          .main-episodes .list-episodes .episodes ul li a .episodes-desc .episodes-img {
            width: 18rem;
            height: 10rem; }
            .main-episodes .list-episodes .episodes ul li a .episodes-desc .episodes-img img {
              border-radius: 4px; }
          .main-episodes .list-episodes .episodes ul li a .episodes-desc div {
            display: flex;
            flex-direction: column;
            gap: 0.5em; }
        .main-episodes .list-episodes .episodes ul li a .eye {
          height: 40px; }
    .main-episodes .list-episodes .episodes ul .separator-2 {
      margin: auto; }

@media (max-width: 1024px) {
  .trend a .trend-front div {
    max-width: 23rem;
    gap: 0.3em; }
    .trend a .trend-front div .season {
      font-size: 20px; }
    .trend a .trend-front div .name {
      font-size: 30px; }
    .trend a .trend-front div p {
      font-size: 16px; }
  .trend .trend-back img {
    width: 40rem; }
  .trend .trend-back .background-radial {
    height: 28rem; } }

@media (max-width: 1024px) {
  #banner {
    background: linear-gradient(to top, #191919 0%, #191919 80%, #19191900 100%), no-repeat url(../../assets/jujutsu-kaisen.jpg);
    background-size: contain; } }

@media (max-width: 1250px) {
  .main-reproduction .video-settings .video iframe {
    width: 720px;
    height: 388px; } }

@media (max-width: 930px) {
  .main-reproduction .video-settings .video iframe {
    width: 560px;
    height: 297px; } }

@media (max-width: 768px) {
  .trend a .trend-front {
    justify-content: space-evenly;
    width: 35rem; }
  .trend .trend-back img {
    top: -0.4em;
    width: 80vw; }
  .trend .trend-back .background-radial {
    height: 23rem;
    width: 80vw; } }

@media (max-width: 768px) {
  .config .subtitle-config .contain-config .data div .text-box-1, .config .subtitle-config .contain-config .data div .text-box-2 {
    width: 35vw; } }

@media (max-width: 830px) {
  .main-episodes .description {
    justify-content: center; }
    .main-episodes .description .description-top {
      align-items: center; } }

@media (max-width: 768px) {
  .main-reproduction .video-settings .video iframe {
    width: 75vw;
    height: 40vh; }
  .main-reproduction .comments .my-comment {
    justify-content: space-evenly;
    gap: 0; }
  .main-reproduction .comments .posted-comments {
    justify-content: space-evenly;
    gap: 0; } }

@media (max-width: 600px) {
  #padding {
    padding: 0; }
  #margin {
    margin: 2em; }
  .trend {
    overflow: hidden; }
    .trend div a .trend-front {
      justify-content: center;
      margin: 0 0.5em 0 0.5em;
      max-width: 90vw; }
      .trend div a .trend-front div img {
        display: none; }
      .trend div a .trend-front div p {
        font-size: 15px; }
    .trend .trend-back {
      width: 100%; }
      .trend .trend-back img {
        width: 170vw; }
      .trend .trend-back .background-radial {
        height: 50vh;
        width: 150vw; }
  .list-anime-index {
    margin: 2em; } }

@media (max-width: 426px) {
  .list-anime-index {
    margin: 1em; }
    .list-anime-index div .emission {
      width: 100%;
      height: 100%;
      justify-content: left; }
      .list-anime-index div .emission li a {
        display: flex;
        flex-direction: row;
        gap: 2em; }
        .list-anime-index div .emission li a span img {
          width: 50vw;
          height: 20vh;
          border-radius: 1.2rem 0 0 1.2rem; } }

@media (max-width: 700px) {
  .config .subtitle-config .contain-config {
    gap: 1em;
    width: 100%; }
    .config .subtitle-config .contain-config .account {
      margin-left: 0.5em; }
    .config .subtitle-config .contain-config .banner {
      margin-left: 0.5em;
      max-width: 8rem; }
    .config .subtitle-config .contain-config form input {
      width: 8rem; }
    .config .subtitle-config .contain-config .data {
      text-align: center; }
      .config .subtitle-config .contain-config .data div .text-box-1, .config .subtitle-config .contain-config .data div .text-box-2 {
        width: 50vw; } }

@media (max-width: 690px) {
  .list-anime ul li div {
    width: 40vw;
    height: 40vh; } }

@media (max-width: 450px) {
  .list-anime ul li {
    align-items: center; }
    .list-anime ul li div {
      width: 80vw;
      height: 80vh; }
      .list-anime ul li div div strong {
        margin: 0 0.5em 1em 0.5em; }
      .list-anime ul li div div p {
        margin: 1em 0.5em 1em 0.5em; } }

@media (max-width: 620px) {
  #banner {
    background: linear-gradient(to top, #191919 0%, #191919 85%, #19191900 100%), no-repeat url(../../assets/jujutsu-kaisen.jpg);
    background-size: contain; }
  .main-episodes .list-episodes .episodes ul li a .episodes-desc .episodes-img {
    width: 9rem;
    height: 5rem; } }

@media (max-width: 400px) {
  .main-episodes .description .description-top div ul {
    gap: 1em; }
  .main-episodes .list-episodes .episodes ul li a .episodes-desc {
    gap: 1em; } }

@media (max-width: 530px) {
  .main-reproduction h1 {
    font-size: 28px;
    margin-bottom: 0.5em; }
  .main-reproduction .video-settings .video iframe {
    width: 80vw;
    height: 30vh; }
  .main-reproduction .video-settings .video-bottom, .main-reproduction .video-settings .video-bottom div, .main-reproduction .video-settings .video-bottom div ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0.2em 0 0.2em 0; } }
