.trend{
    margin: 3em;
    position: relative;
    .trend-front{
        @include flex(center, center, nowrap, row, 0);
        div{
            @include flex(center, left, nowrap, column, 1em);
            z-index: 1;
            max-width: 35rem;
            img{
                max-width: 20rem;
            }
            .season{
                font-size: 26px;
            }
            .name{
                font-size: 40px;
            }
            p{
                font-size: 17px;
            }
        }
    }
    .trend-front:hover div img{
        transform: scale(1.03);
        filter: drop-shadow(0.5rem 2.5rem 2rem #191919);
    }
    .trend-back{
        @include flex(center, center, nowrap, column, 0);
        img{
            top: 2em;
            position: absolute;
            background-blend-mode: luminosity;
            mix-blend-mode: luminosity;
            border-radius: 30px;
            opacity: 0.6;
            width: 60vw;
        }
    }
}

.background-radial{
    top: -3em;
    position: absolute;
    width: 80vw;
    height: 37.5rem;
    background: $background-gradient        
}

.list-anime-index{
    h2{
        margin: 1em;
    }
    div{
        ul{
            @include flex(space-around, center, wrap, row, 2em);
            li{
                margin-bottom: 1em;
                a{
                    span{
                        img{
                            width: 12rem;
                            height: 18rem;
                            border-radius: 1.2rem 1.2rem 0 0;
                            object-fit: cover;
                        }
                        img:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}
