// INDEX //
@media (max-width:768px) {
    .trend{
        a{
            .trend-front{
                justify-content: start;
                width: 37rem;
            }
        }
        .trend-back{
            img{
                top: -0.4em;
                width: 80vw;
            }
            .background-radial{
                height: 23rem;
                width: 80vw;
            }
        }
    }
}

// LISTA DE EPISODIOS //
@media (max-width:830px) {
    .main-episodes{
        .description{
            justify-content: center;
            .description-top{
                align-items: center;
            }
        }
    }
}

// REPRODUCCION //
@media (max-width:768px) {
    .main-reproduction{
        .video-settings{
            .video{
                iframe{
                    width: 75vw;
                    height: 40vh;
                }
            }
        }
        .comments{
            .my-comment{
                justify-content: space-evenly;
                gap: 0;
            }
            .posted-comments{
                justify-content: space-evenly;
                gap: 0;
            }
        }
    }
}

// LISTA DE ANIME //
@media (max-width:700px) {
    .multiselect{
        ul{
            li{
                .filter{
                    ul{
                        width: 30vw;
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    .multiselect{
        ul{
            li{
                .filter{
                    ul{
                        width: 35vw;
                    }
                }
            }
        }
    }
}