// INDEX //
@media (max-width:600px) {
    #padding{
        padding: 0;
    }
    #margin{
        margin: 2em;
    }
    .trend{
        overflow: hidden;
        div{
            a{
                .trend-front{
                    justify-content: center;
                    margin: 0 0.5em 0 0.5em;
                    max-width: 90vw;
                    div{
                        img{
                            display: none;
                        }
                        p{
                            font-size: 15px ;
                        }
                    }
                }
            }
        }
        .trend-back{
            width: 100%;
            img{
                width: 190vw;
            }
            .background-radial{
                height: 50vh;
                width: 150vw;
            }
        }
    }
    .list-anime-index{
        margin: 2em;
    }
}

@media (max-width:426px) {
    .list-anime-index{
        margin: 1em;
        div{
            .emission{
                width: 100%;
                height: 100%;
                justify-content: left;
                li{
                    a{
                        display: flex;
                        flex-direction: row;
                        gap: 2em;
                        span{
                            img{
                                width: 50vw;
                                height: 20vh;
                                border-radius: 1.2rem 0 0 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// CUENTA // 
@media (max-width:620px) {
    .config{
        .sub-contain{
            .block{
                .subtitle-config{
                    .contain-config{
                        gap:1em;
                        width: 85vw;
                        .account{
                            margin-left: 0.5em;
                        }
                        .banner{
                            margin-left: 0.5em;
                            max-width: 8rem;
                        }
                        form{
                            input{
                                width: 8rem;
                            }
                        }
                        .data{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

// LISTA DE ANIME //
@media (max-width:690px) {
    .list-anime{
        ul{
            justify-content: center;
            li{
                div{
                    width: 40vw;
                    height: 40vh;
                }
            }
        }
    }
    .multiselect{
        ul{
            li{
                .filter{
                    ul{
                        width: 30vw;
                        li{
                            input{
                                display: none;
                            }
                            input:checked + label{
                                color: #00ffff;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:435px) {
    .list-anime{
        ul{
            li{
                align-items: center;
                div{
                    width: 80vw;
                    height: 80vh;
                    div{
                        strong{
                            margin: 0 0.5em 1em 0.5em;
                        }
                        p{
                            margin: 1em 0.5em 1em 0.5em;
                        }
                    }
                }
            }
        }
    }
    .multiselect{
        ul{
            gap: 3em;
            li{
                .filter{
                    ul{
                        width: 35vw;
                    }
                }
            }
        }
    }
}

// LISTA DE EPISODIOS //
@media (max-width:620px) {
    #banner{
        background:  linear-gradient(to top, #191919 0%,#191919 85%, #19191900 100%), url(../assets/jujutsu-kaisen.jpg);
        background-size: contain;
    }
    .main-episodes{
        .description{
            .description-top{
                div{
                    text-align: center;
                }
            }
        }
        .list-episodes{
            .episodes{
                ul{
                    li{
                        a{
                            .episodes-desc{
                                .episodes-img{
                                    width: 9rem;
                                    height: 5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:400px) {
    .main-episodes{
        .description{
            .description-top{
                div{
                    ul{
                        gap: 1em;
                    }
                }
            }
        }
        .list-episodes{
            .episodes{
                ul{
                    li{
                        a{
                            .episodes-desc{
                                gap: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

// REPRODUCCION //
@media (max-width:530px) {
    .main-reproduction{
        h1{
            font-size: 28px;
            margin-bottom: 0.5em;
        }
        .video-settings{
            .video{
                iframe{
                    width: 80vw;
                    height: 30vh;
                }
            }
            .video-bottom{
                justify-content: center;
                flex-wrap: wrap;
                gap: 0.5em;
                margin: 0.2em 0 0.2em 0;
            }
        }
    }
}
