h1{
    color: $typo-color;
}

h2{
    color: $typo-color;
    font-size: 28px;
}

h3{
    color: $typo-color;
}

strong{
    color: $typo-color;
    font-size: 18px;
}

li{
    color: $typo-color;
}

a{
    color: $typo-color;
}

p{
    color: $typo-color;
    font-size: 16px;
}